@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container {
    width: 1100px;
    margin: 0 auto;
}
header {
    padding: 12px 0;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
}
.header {
    width: 100%;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}
.header .logo {
    
}
.header .nav {
    
}
.header .nav ul {
    list-style: none;
}
.header .nav ul li {
    display: inline-block;
    padding: 10px;
}
.header .nav ul li a {
    text-decoration: none;
    color: rgb(41, 41, 41);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}
.header .nav ul li:first-child a{
    color: #7f97ff;
}
.header .nav ul li a:hover {
    color: #7f97ff;
}
.nav ul li {
    position: relative;
}
.nav ul li ul {
    display: none;
    margin-top: 30px;
    position: absolute;
    width: 100px;

}
.nav ul li ul li {
    background: white;
    padding: 20px 25px;
    display: inline-block;

}
.nav ul li:hover ul{
    display: block;
}
/* banner */
#top-banner {
    background-color: #f9f9f9;
    padding-top: 50px;
}
.banner {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.left-b, .right-b {
    width: 50%;
}
.left-b {
    padding: 20px;
    padding-right: 40px;
    margin-top: 100px;
}
.right-b img {
    max-width: 100%;
}
.left-b h3 {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 14px;
    color: #222;
    
}
.left-b h1 {
    font-size: 48px;
    margin-top: 20px;
}
.left-b p {
    color: #8f8383;
    margin-top: 20px;
    line-height: 1.5;
    font-size: 14px;
}
.left-b input {
    padding: 12px 30px;
    background: linear-gradient(90deg,#8393ff,#65bafc);
    outline: none;
    color: white;
    border: none;
    font-size: 14px;
    transition: all 0.5s ease-in;
    margin-top: 15px;
    font-weight: bold;
}
.left-b input:hover {
    box-shadow: 5px 10px 30px rgba(130, 147, 255, 0.5);
}
/* about */
#about {
    padding: 100px 0;
}
.about {
    display: flex;
    align-items: center;
    justify-content: center;
}
.about div {
    width: 50%;
}
.about img {
    width: 90%;
    margin: 0 auto;
}
.about h3 {
    font-weight: normal;
    color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
    
}
.about h1 {
    font-weight: bold;
    margin-top: 20px;
    font-size: 32px;
}
.about p {
    font-size: 14px;
    line-height: 1.7;
    color: gray;
    margin-top: 20px;
}
.about div:nth-child(2) {
    padding: 50px;
}
.about input {
    padding: 15px 22px;
    font-size: 14px;
    outline: none;
    color: white;
    font-weight: bold;
    transition: all 0.5s ease-in;
    border: none;
    background: linear-gradient(90deg,#8393ff,#65bafc);
    margin-top: 20px;
}
.about input:hover {
    box-shadow: 5px 10px 30px rgba(130, 147, 255, 0.5);
}
/* services */
.services {
    text-align: center;
}
.heading {
    text-align: center;
}
.heading h1 {
    font-size: 30px;
    line-height: 2;
}
.heading p {
    width: 700px;
    margin: 0 auto;
    color: rgba(0, 0, 0, 0.6);
    line-height: 1.6;
}
/* services */
.service-container {
    overflow: ;
    display: flex;
    margin-top: 60px;
}
.service {
    margin: 10px;
    padding: 40px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.service p {
    color: gray;
    line-height: 1.6;
    font-size: 15px;
}
.service h2 {
    font-size: 20px;
    line-height: 2.5;
    color: rgba(0, 0, 0, 0.8);
}
.service i {
    font-size: 32px;
    line-height: 1.4;
    color: rgba(0, 0, 0, 0.6);
}
.service:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}
.service:hover h2 {
    color: #8490FF;
}
.service:hover i {
    color: #8490FF;
}
/* total */
#total {
    background:linear-gradient(90deg,#8490FF,#62BDFC);
    color: white;
    margin-top: 100px;
}
.total {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 80px 0;
}
.total h1 {
    font-weight: 700;
    font-size: 36px;
}
.total p {
    font-size: 14px;
}
/* portfolio */
#portfolio {
    margin-top: 80px;
    width: 100%;
}
.portfolio .heading p {
    color: #777;
    font-size: 14px;
}
.portfolio .heading {
    margin-bottom: 50px;
}
.project-img {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 20px;
    
}
.project-img div {
    flex-basis: 33.333333333333336%;
    padding: 0 20px;
    
}
.project-img div img {
    width: 100%;
}
.project-img div h1 {
    font-size: 18px;
    font-weight: 600;
    line-height: 2;
}
.project-img div p {
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
}
.project-img div figure {
    background: linear-gradient(40deg, #9491F1, #7BB7F2);
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 326px;
    border-radius: 5px;
}
.project-img div img {
    overflow: hidden;
}
.project-img div:hover figure img{
    opacity: 0.2;
    transition: all ease-out .3s;
}
.project-nav {
    display: flex;
    justify-content: center;
}
.project-nav div {
    display: flex;
    text-align: center;
    margin: 0 auto;
}
.project-nav div h5 {
    padding: 10px;
    font-weight: 500;
    margin: 30px 0;
    cursor: pointer;
}
.project-nav div h5:first-child {
    color: #8585D1;
}
